In [1]:
import sys
sys.path.insert(1, '..')
import importlib

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

## Load Data

In [2]:
df = pd.read_csv('../data/kidney-exchange/survey2_data.csv')
df.columns

Index(['1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '2x3', '2x4', '2x5',
       '2x6', '2x7', '2x8', '3x4', '3x5', '3x6', '3x7', '3x8', '4x5', '4x6',
       '4x7', '4x8', '5x6', '5x7', '5x8', '6x7', '6x8', '7x8',
       'Voter Strategy 0', '2x1', '3x1', '4x1', '5x1', '6x1', '7x1', '8x1',
       '3x2', '4x2', '5x2', '6x2', '7x2', '8x2', '4x3', '5x3', '6x3', '7x3',
       '8x3', '5x4', '6x4', '7x4', '8x4', '6x5', '7x5', '8x5', '7x6', '8x6',
       '8x7', 'Voter Strategy 1'],
      dtype='object')

Number of pairwise comparisons per voter? Easy - just as many as the number of unique voters.

Save the various voter strategies for later, if necessary:

In [3]:
strategies = df["Voter Strategy 0"].fillna('') + df["Voter Strategy 1"].fillna('')
strategies

0                          The younger of the 2 patients
1      i went with the person who i consider to be th...
2      I prioritized age first then how much they dri...
3      Age was most important, then alcohol consumpti...
4      I defaulted to the priority of younger, no ski...
                             ...
284    I would like to give a kidney to a young patie...
285    I always gave it to the younger person. If the...
286    I went with my gut feeling on what felt right ...
287    age first.     No other major health problems ...
288    I mostly looked at how much alcohol the person...
Length: 289, dtype: object

In [4]:
df_0 = df[[
    '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '2x3', '2x4', '2x5', '2x6', '2x7', '2x8', '3x4', 
    '3x5', '3x6', '3x7', '3x8', '4x5', '4x6', '4x7', '4x8', '5x6', '5x7', '5x8', '6x7', '6x8', '7x8'
]].dropna()
df_1 = df[[
    '2x1', '3x1', '4x1', '5x1', '6x1', '7x1', '8x1', '3x2', '4x2', '5x2', '6x2', '7x2', '8x2', '4x3', 
    '5x3', '6x3', '7x3', '8x3', '5x4', '6x4', '7x4', '8x4', '6x5', '7x5', '8x5', '7x6', '8x6', '8x7', 
]].dropna()
df_0

,1x2,1x3,1x4,1x5,1x6,1x7,1x8,2x3,2x4,2x5,...,4x5,4x6,4x7,4x8,5x6,5x7,5x8,6x7,6x8,7x8
3,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient J.B. is 30 years old, had 1 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...",...,"Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."
5,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...",...,"Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."
6,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient J.B. is 30 years old, had 1 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...",...,"Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient R.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."
10,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient J.B. is 30 years old, had 1 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient J.B. is 30 years old, had 1 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...",...,"Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient R.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient R.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."
12,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient J.B. is 30 years old, had 1 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...",...,"Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient J.B. is 30 years old, had 1 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...",...,"Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient R.F. is 70 years old, had 5 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."
282,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...",...,"Patient K.D. is 30 years old, had 5 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."
283,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient J.B. is 30 years old, had 1 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...",...,"Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."
286,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient J.B. is 30 years old, had 1 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...",...,"Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."
287,"Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient W.A. is 30 years old, had 1 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...","Patient V.S. is 30 years old, had 5 alcoholic ...",...,"Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ...","Patient K.D. is 30 years old, had 5 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient Y.D. is 70 years old, had 1 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient J.F. is 70 years old, had 5 alcoholic ...","Patient M.K. is 70 years old, had 1 alcoholic ..."

In [5]:
print(df_0.shape[0])
print(df_1.shape[0])
print(df.shape[0])

141
148
289

## Preprocessing

1. Hardcode the patient profiles.
2. Replace each pairwise comparison with the actual patient features, and translate the label. Preserve exogenous features.

### Patient Profiles
- ID: patient #
- Age: age in years
- Alcohol consumption: number of drinks per day
- Skin cancer in remission: whether or not the patient has skin cancer in remission

In [6]:
features_endo = ["ID", "Initials", "Age", "AlcoholConsumption", "SkinCancer"]
patients = pd.DataFrame([
    [1, "W.A.", 30, 1, 0],
    [2, "V.S.", 30, 5, 0],
    [3, "J.B.", 30, 1, 1],
    [4, "K.D.", 30, 5, 1],
    [5, "Y.D.", 70, 1, 0],
    [6, "J.F.", 70, 5, 0],
    [7, "M.K.", 70, 1, 1],
    [8, "R.F.", 70, 5, 1]
], columns=features_endo)
patients

   ID Initials  Age  AlcoholConsumption  SkinCancer
0   1     W.A.   30                   1           0
1   2     V.S.   30                   5           0
2   3     J.B.   30                   1           1
3   4     K.D.   30                   5           1
4   5     Y.D.   70                   1           0
5   6     J.F.   70                   5           0
6   7     M.K.   70                   1           1
7   8     R.F.   70                   5           1

### Transformation

In [7]:
from collections import namedtuple
import re

rows = []
regexp = re.compile(r'^Patient ([A-Z.]{4})')
for df in [df_0, df_1]:
    for column in df.columns:
        choices_num = [int(x) for x in column.split("x")]
        choices = patients[patients["ID"]\
            .isin(choices_num)]\
            .sort_values("ID", ascending=(choices_num[0] < choices_num[1]))\
            .reset_index()
        for i, choice in enumerate(df[column].values):
            row = {
                "{}_{}".format(f, s): choices[f].iloc[s]
                for f in choices.columns for s in range(2)
            }
            row['VoterID'] = i
            chosen_initials = regexp.search(choice).group(1)
            row['Chosen'] = choices.index[choices["Initials"] == chosen_initials][0]
            rows.append(row)

df_pairwise = pd.DataFrame(rows)
df_pairwise

,index_0,index_1,ID_0,ID_1,Initials_0,Initials_1,Age_0,Age_1,AlcoholConsumption_0,AlcoholConsumption_1,SkinCancer_0,SkinCancer_1,VoterID,Chosen
0,0,1,1,2,W.A.,V.S.,30,30,1,5,0,0,0,0
1,0,1,1,2,W.A.,V.S.,30,30,1,5,0,0,1,0
2,0,1,1,2,W.A.,V.S.,30,30,1,5,0,0,2,0
3,0,1,1,2,W.A.,V.S.,30,30,1,5,0,0,3,0
4,0,1,1,2,W.A.,V.S.,30,30,1,5,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8087,7,6,8,7,R.F.,M.K.,70,70,5,1,1,1,143,1
8088,7,6,8,7,R.F.,M.K.,70,70,5,1,1,1,144,1
8089,7,6,8,7,R.F.,M.K.,70,70,5,1,1,1,145,1
8090,7,6,8,7,R.F.,M.K.,70,70,5,1,1,1,146,1
8091,7,6,8,7,R.F.,M.K.,70,70,5,1,1,1,147,1

In [8]:
features = ["{}_{}".format(f, s) for f in features_endo for s in range(2) if f != "ID" and f != "Initials"] + ["Chosen"]
num_features = features
cat_features = []
features

['Age_0',
 'Age_1',
 'AlcoholConsumption_0',
 'AlcoholConsumption_1',
 'SkinCancer_0',
 'SkinCancer_1',
 'Chosen']

In [9]:
df_pairwise.columns

Index(['index_0', 'index_1', 'ID_0', 'ID_1', 'Initials_0', 'Initials_1',
       'Age_0', 'Age_1', 'AlcoholConsumption_0', 'AlcoholConsumption_1',
       'SkinCancer_0', 'SkinCancer_1', 'VoterID', 'Chosen'],
      dtype='object')

In [10]:
df_proc = df_pairwise.loc[:,features]
# convert to numeric, changing literals to NaN
for f in num_features:
    df_proc.loc[:,f] = pd.to_numeric(df_proc.loc[:,f], errors='coerce')
df_proc.head()

,Age_0,Age_1,AlcoholConsumption_0,AlcoholConsumption_1,SkinCancer_0,SkinCancer_1,Chosen
0,30,30,1,5,0,0,0
1,30,30,1,5,0,0,0
2,30,30,1,5,0,0,0
3,30,30,1,5,0,0,0
4,30,30,1,5,0,0,0

In [11]:
df_proc.describe()

,Age_0,Age_1,AlcoholConsumption_0,AlcoholConsumption_1,SkinCancer_0,SkinCancer_1,Chosen
count,8092.000000,8092.000000,8092.000000,8092.000000,8092.000000,8092.000000,8092.000000
mean,50.276817,49.723183,3.006920,2.993080,0.503460,0.496540,0.500247
std,19.999320,19.999320,2.000112,2.000112,0.500019,0.500019,0.500031
min,30.000000,30.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,30.000000,30.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,70.000000,30.000000,5.000000,1.000000,1.000000,0.000000,1.000000
75%,70.000000,70.000000,5.000000,5.000000,1.000000,1.000000,1.000000
max,70.000000,70.000000,5.000000,5.000000,1.000000,1.000000,1.000000

### Train/Test Split

In [12]:
import hmm.classification
importlib.reload(hmm.classification)
from hmm.classification import train_test_val_dev_split

X = df_proc.drop(labels=["Chosen"], axis='columns', inplace=False)
y = df_proc["Chosen"]
X_train, X_test, X_val, X_dev, y_train, y_test, y_val, y_dev = train_test_val_dev_split(X, y)
display(X_train.head())
display(y_train.head())

,Age_0,Age_1,AlcoholConsumption_0,AlcoholConsumption_1,SkinCancer_0,SkinCancer_1
2160,30,70,1,5,1,0
1658,30,70,5,1,0,1
6927,70,30,1,5,1,1
5643,70,30,1,5,1,0
4375,30,30,5,1,1,0

2160    0
1658    1
6927    0
5643    1
4375    1
Name: Chosen, dtype: int64

### Labeling Model

What labeling functions to write?

In [17]:
strategies.sample().values

array(["I looked at the age and the other health problems.  I didn't really put much weight into their drinking as it was before diagnosis and they could change that."],
      dtype=object)